
<html>
<head>
  <script src="/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:4000');
    socket.on('connect', function() {
      console.log('Connected');
    });



  </script>
</head>

<body>

Subpage connected!

</body>
</html>